body {
  font-family: 'Oxanium';
}

h1{
  font-family: 'Oxanium';
  color: white;
  text-align: center;
}

h2{
 font-family: 'Oxanium';
  color: white;
   text-align: center;
   font-size: 30px;
} 

h3, h4, h5, h6 {
  font-family: 'Oxanium';
  color: white;
}

p, th, td{
color: white;
}

body {
 background-attachment: fixed;
 background-image: url("https://github.com/ninakeijzer/ninakeijzer.github.io/blob/f17831cd41756949e1e7038965697ad3ce3dad95/milkyway.jpg?raw=true");
 background-size: cover;
}


.jumbotron {
  /* Background */
  background-color: rgba(40, 6, 83, 0.151);
  color: white;
}

.card{
  background-color: rgba(216, 200, 236, 0.151);
  height: 200px;
}

.card-title{
  color: white;
  text-align: center;
  font-size: 25px;
  vertical-align: middle;
}